{% extends 'layout.twig' %}
{% block content %}
    {% if articles is empty %}
        {% include '../notFound.twig' %}
    {% else %}


        <div class="container my-10 px-6 mx-auto">
            <section class="mb-32 text-gray-800 text-center">
                <div class="grid lg:grid-cols-3 gap-6 xl:gap-x-12">
                    {% for article in articles %}
                        <div class="mb-6 lg:mb-0">
                            <div>
                                <div class="relative overflow-hidden bg-gray-200 rounded-lg shadow-lg mb-6">
                                    <img src="{{ article.imageUrl }}" class="w-full" alt="Placeholder image" />
                                    <a href="/articles/{{ article.id }}">
                                        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-gray-300 opacity-0 hover:opacity-75 transition duration-300 ease-in-out"></div>
                                    </a>
                                </div>

                                <h5 class="text-lg font-bold mb-3 text-gray-800">{{ article.title | capitalize }}</h5>
                                <p class="text-gray-600 mb-6">
                                    <small>Published by
                                        <a href="/users/{{ article.user_id | capitalize }}"
                                           class="text-gray-900">{{ article.author.name | capitalize}}</a></small>
                                    <small>
                                        {{ article.date }}
                                    </small>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </section>
        </div>

    {% endif %}
{% endblock %}
