{% extends 'layout.twig' %}

{% block content %}
    <div class="grid grid-cols-6 gap-4">
        <div class="col-span-1">
            <section class="py-10 bg-white sm:py-16 lg:py-24">
                <div class="px-4 mx-auto max-w-7xl">
                    <div class="text-center">
                        <img class="object-cover w-40 h-40 mx-auto rounded-lg"
                             src="https://placehold.co/600x400/black/white?text=Smile" alt="placeholder picture"/>
                        <p class="mt-6 text-lg font-semibold text-black">{{ user.name }}</p>
                        <p class="font-normal text-gray-600">Email: {{ user.email }}</p>
                        <p class="font-normal text-gray-600">Username: {{ user.username }}</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-span-5">
            <div>
                <h1 class="mt-6 text-lg font-semibold text-black ml-11">All articles by {{ user.name }}</h1>
                <ol class=" ml-10 mt-10">
                    {% for article in articles %}
                        <li class="mb-8">
                            <div class="flex-start md:flex">
                                <div class="w-full md:w-3/12 px-3">
                                    <div class="relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg mb-4"
                                         data-mdb-ripple="true" data-mdb-ripple-color="dark">
                                        <img src="{{ article.imageUrl }}" class="w-full" alt="Article Image">
                                        <a href="/articles/{{ article.id }}">
                                            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                                                 style="background-color: rgba(255, 255, 255, 0.2)"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="w-full md:w-9/12 xl:w-7/12 px-3">
                                    <h5 class="text-lg font-bold mb-3">{{ article.title }}</h5>
                                    <p class="text-gray-500">{{ article.body }}</p>
                                    <p class="text-gray-500 mb-6">
                                        <small>Published <u>{{ 'now'|date('Y') }}</u> by
                                            <a href="" class="text-gray-900">{{ article.author.name }}</a></small>
                                    </p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
